<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Binary Solo">
	<meta name="description" content="We makea da games.">

	<!-- Social meta tags -->
	<meta property="og:site_name" content="Binary Solo">
	<meta property="og:url" content="https://binarysolo.com{{ page.url }}">
	<meta property="og:type" content="website">

	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Rubik+80s+Fade&display=swap" rel="stylesheet">
</head>
<body>
	{% include header.html %}

	{{ content }}

	{% include footer.html %}
</body>
</html>